@charset "UTF-8";

/*

Home Page CSS

*/
.bg-1 { /*First Background*/
    background-color: #7D7C7A;  
    color: #ffffff;
    margin:0;
}

.bg-2 { /*Second Background*/
    background-color: #b6ab7c;  
    color: #ffffff;
    margin:0;
}

.bg-3 { /*Third Background*/
    background-color: #EDF7D2;  
    color: #555555;
    margin:0;
}

.bg-3 img{ /*Images CSS*/
    width:100%;
    height:auto;
    margin:0;
}

#placeholderPhoto{  /*Photo*/                  
    width:400px;    
    height:400px;
}

#homepagesection h3{ /*Margin for h3*/
    margin-bottom: 30px;
}

.container-fluid{  /*Adds paddings*/
    padding-top: 70px;
    padding-bottom: 70px;
}

#footer { /*Add padding*/
    background-color: #2f2f2f;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#aboutmebutton{ /*Button CSS*/
    margin-top:20px;
}


/*

About Me CSS

*/
.heading{ /*Adds margin at the bottom of the headings*/
    margin-bottom: 10vh;
}

.aboutmecontainer{
    font-size: 100%;
    padding-top: 20px;
}

#goal_list{
    line-height: 200%;
    font-size: 120%
}

#goal_header{
    font-size: 300%;
    margin-bottom:50px;
}

#goal_text{
    font-size:150%
}

/*

Achievement Page CSS

*/
#achievement_list p{
    font-size: 150%;
    text-decoration: underline;
}


/*

LightBox CSS

*/
/* Position the image container into the middle */
.container_gallery {
  position: relative;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add an effect when over */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover effect for the buttons */
.prev:hover,.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for caption */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.gallery_row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six gallery_cols side by side */
.gallery_col {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,.demo:hover {
  opacity: 1;
}

/*

Form CSS

*/
p#contact_paragraph{
    font-size: 130%;
}

.fab{
    font-size: 200%;
}

div#icons a{
    color:white;
}

.fab:hover{
    color:darkgrey;
}

input.form-control:focus, textarea.form-control:focus{
    background-color: lightgrey;
}

a.page_link{
    color:lightgrey;    
}

/*

Thank You CSS

*/
.full{
  min-height:72.8vh;
  background-color: #7D7C7A;  
  color: #ffffff;
}

.full > a > p{
  margin-top:50px;
}

.full > a {
  color:white;
}

.full > a:hover{
  text-decoration: underline;
}