@charset "utf-8";

/*Page Skeleton*/
div#Homepagebody{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:800px;
    line-height: 150%;
    font-size: 125%;
    height:auto;
    padding:0 20px;
    font-style: italic;
}
#Homepagepic{
    width:800px;
    height: 500px;
    margin-bottom: 20px;
    padding:0 20px;
}
#Homepagehead{
    margin-bottom: 5px;
    font-family: 'Righteous', cursive;
    font-style: italic;
    width:800px;
    padding:0 20px;
}
#MainBody{
    width:800px;
    height:1670px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
    font-size: 125%;
    padding:0 20px;
    font-style: italic;
}
/*General Styles*/
div>p{
    text-decoration: underline;
    font-size:125%;
    font-weight: bold;
    margin-top:0;
}
/*2016*/
div#firstList{
    width:60%;
    height:320px;
    box-sizing: border-box;
    float:left;
    margin-bottom:20px;
    padding: 10px 0;
}
ul#firstList{
    line-height: 32px;
    padding-left: 50px;
}
ul#firstList>li{
    padding-left:20px;
}
#firstContainer{
    width:40%;
    margin:0;
    padding:10px 0;
    height:320px;
    margin-bottom:20px;
    float:left;
}
img#firstImage:hover, #firstOverlay:hover {
    opacity: 1;
  }
#firstText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#firstImage {
    display: block;
    width: 100%;
    height: auto;
}
#firstOverlay {
    position: absolute;
    height:320px;
    width: 320px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}

/*2017*/
div#secondList{
    width:60%;
    box-sizing: border-box;
    float:left;
    margin-bottom:20px;
    padding-left: 20px;
    height:248.2px;
}
ul#secondList{
    padding-left: 50px;
    font-size: 88%;
    margin-top:10px;
}
div#secondList p{
    margin-bottom: 10px;
}
ul#secondList>li{
    padding-left:20px;
    line-height: 30px;
}
#secondContainer{
    width:40%;
    margin:0;
    padding:10px 0;
    height:228.2px;
    margin-bottom:20px;
    float:left;
}
img#secondImage:hover, #secondOverlay:hover {
    opacity: 1;
  }
#secondText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#secondImage {
    display: block;
    width: 100%;
    height: auto;
}
#secondOverlay {
    position: absolute;
    height:228.2px;
    width: 320px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}

/*2018*/
div#thirdList{
    width:60%;
    box-sizing: border-box;
    float:left;
    margin-bottom:20px;
    padding-left: 20px;
    height:auto;
}
ul#thirdList{
    padding-left: 50px;
    font-size: 88%;
    margin-top:10px;
}
div#thirdList p{
    margin-bottom: 10px;
}
ul#thirdList>li{
    padding-left:20px;
    line-height: 28px;
}
#thirdContainer{
    width:40%;
    margin:0;
    padding:10px 0;
    height:309.2px;
    margin-bottom:20px;
    float:left;
}
img#thirdImage:hover, #thirdOverlay:hover {
    opacity: 1;
  }
#thirdText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#thirdImage {
    display: block;
    width: 100%;
    height: auto;
    padding:0;
}
#thirdOverlay {
    position: absolute;
    height:240px;
    width: 320px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}

/*2019*/
div#Box{
    width:40%;
    float:left;
    height:auto;
}
div#fourthList{
    width:60%;
    box-sizing: border-box;
    float:left;
    margin-bottom:20px;
    padding-left: 20px;
    height:auto;
}
ul#fourthList{
    padding-left: 50px;
    margin-top:10px;
}
div#fourthList p{
    margin-bottom: 10px;
}
ul#fourthList>li{
    padding-left:20px;
    line-height:40px;
}
#fourthContainer{
    width:100%;
    margin:0;
    padding:10px 0;
    height:320px;
    float:left;
}
img#fourthImage:hover, #fourthOverlay:hover {
    opacity: 1;
  }
#fourthText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#fourthImage {
    display: block;
    width: 100%;
    height: auto;
    padding:0;
}
#fourthOverlay {
    position: absolute;
    height:320.31px;
    width: 320px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}

#fifthContainer{
    width:100%;
    padding:10px 0;
    height:320px;
    margin:0;
    float:left
}
img#fifthImage:hover, #fifthOverlay:hover {
    opacity: 1;
  }
#fifthText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#fifthImage {
    display: block;
    width: 100%;
    height: auto;
    padding:0;
}
#fifthOverlay {
    position: absolute;
    height:320px;
    width: 320px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}

/*Pictures*/
div#Pictures{
    width: 800px;
    padding-left:20px;
    height:1130px;
}

/*First Row*/
#firstbox{
    width:40%;
    padding:10px 0;
    height:446.66px;
    margin:0;
    float:left;
    height:auto;
    margin-right:50px;
}
img#firstpic:hover, #firstback:hover {
    opacity: 1;
  }
#firstword {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#firstpic {
    display: block;
    width: 100%;
    height: auto;
    padding:0;
}

#firstback {
    position: absolute;
    height:426.66px;
    width:320px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}

#secondbox{
    width:53.5%;
    padding:10px 0;
    height:446.66px;
    margin:0;
    float:left;
    box-sizing: border-box;
}
img#secondpic:hover, #secondback:hover {
    opacity: 1;
  }
#secondword {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#secondpic {
    display: block;
    width: 100%;
    height: auto;
    padding:0;
}

#secondback {
    vertical-align: middle;
    position: absolute;
    height:428px;
    width:428px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}

/*Second Row*/
#thirdbox{
    width:100%;
    padding:10px 0;
    height:600px;
    margin:0;
    float:left;
    box-sizing: border-box;
}
img#thirdpic:hover, #thirdback:hover {
    opacity: 1;
  }
#thirdword {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#thirdpic {
    display: block;
    width: 100%;
    height: auto;
    padding:0;
}

#thirdback {
    vertical-align: middle;
    position: absolute;
    height:600px;
    width:800px;
    opacity: 0;
    transition: .4s ease;
    background-color: #008CBA;
}